  body,
  html {
    min-height: 100%;
    background-color: black;
    font-family: 'Raleway', sans-serif;
  }

  .titles {
    text-align: center;
    color: #bfa267;
    opacity: 1;
    margin-top: 10%;
    margin-bottom: 5%;

  }

  a i {
    width: 100%;
    text-align: center;
  }

  .main-top {
    margin-top: 70vh;
  }

  .fas {
    margin-bottom: 10%;
  }


  .main {
    position: relative;
    text-align: center;
    margin-left: auto;
    background-color: black;
    color: #bfa267;
  }

  h3 img {
    margin-top: 15%;
  }
  
  .block {
    display: block;
    margin: auto;
  }

  .margin-auto {
    margin: auto;
  }

  .margin-bottom {
    display: block;
    margin: auto;
    margin-bottom: 5%;
  }
  
  .large-margin-bottom {
    margin-bottom: 30vh;
  }
  
  .large-margin-top {
    margin-top: 100vh;
  }
  
  .margin-top {
    margin-top: 20%;
  }
  
  .margin-left {
    margin-left: 5px;
  }

  p {
    color: white;
  }

  .gold {
    color: #bfa267;
  }

  .btn-genre {
    margin-bottom: 30px;
    height: 53px;
    width: 150px;
    background-color: #bfa267;
  }
  
   .btn-top {
    margin-bottom: 30px;
    height: 40px;
    width: 120px;
    background-color: #bfa267;
  }
  
  .btn:hover {
    background-color: #303130;
  }
  
  
  .btn-text {
    color: black;
  }

  .btn-text:hover {
    color: #bfa267;
    text-decoration: none;
  }

  .wider-input {
    width: 300px;
  }

  .card-body {
    background-color: black;
  }

  .small-text {
    font-size: 12px;
  }
  
  .arrow {
    position: absolute;
    margin-left: -10px;
    left: 50%;
    top: 90%;

}
  
  .bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
  }
  
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }
  
  .loader {
    position: fixed;
    z-index: 0;
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-left: -50px;
    left: 50%;
    top: 50%;
    animation: spin 2s linear infinite;
}

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }