 #videobg {
    position: fixed;
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }

  .navbar {
    background-color: black!important;
    height: 60px;
    font-family: 'Berkshire Swash', cursive;
  }
  
  .navbar-light .navbar-brand {
    color: #bfa267;
  }
  
  .navbar-light .navbar-brand:hover {
    color: white;
  }
  
  .navbar-light .navbar-toggler-icon {
    color: #bfa267;
  }

  .navbar-collapse {
    background-color: black;
  }
  
  .navbar-light .navbar-nav .nav-link {
    color: #bfa267;
  }
  
  .navbar-light .navbar-nav .nav-link:hover {
    color: white;
  }
  
  .fas {
    color: #bfa267;
  }

  
